<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Flask App || About us</title>
</head>
<body>
    <h3>Leave a comment</h2>

        <form action="/comment" method = "POST">
            <p>Name <input type = "text" name = "Name" /></p>
            <p>e-mail <input type = "text" name = "e-mail"    /></p>
            <p>Comment <input type = "text" name = "Your comment" /></p>
            <p><input style="background-color: #6293ee;font-family: Montserrat, sans-serif;"  type = "submit" value = "Send" /></p>
        </form>
       
</body>
</html>


